STRIPE_SECRET_KEY=
STRIPE_PUBLISHABLE_KEY=
VITE_STRIPE_PUBLISHABLE_KEY=
VITE_API_BASE_URL=https://freelance-payments-dev.vercel.app
GOOGLE_REDIRECT_URI=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_TEMPLATE_CONTRACT_ID=
GOOGLE_TEMPLATE_INVOICE_ID=
GOOGLE_TEMPLATE_INVOICE_BALANCE_ID=
GOOGLE_TEMP_FOLDER_ID=
GOOGLE_REFRESH_TOKEN=
VERCEL_DEPLOY_HOOK=